<mat-card class="article-card">
    <mat-card-header>
      <div mat-card-avatar class="article-header-image"></div>
      <mat-card-title><button class="link-button" (click)="openDetails()">{{article?.Title}}</button> </mat-card-title>
      <mat-card-subtitle>{{article?.Category.Name}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{article?.Description}}
      </p>
    </mat-card-content>
    <img mat-card-image [src]="article?.PicsUrl" alt="Photo of a Shiba Inu">

    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>