
  <mat-card>
      <mat-card-title class="display-4">Create a new article</mat-card-title>
      <form [formGroup]="articleForm" autocomplete="off" novalidate  >
          <mat-card-content>
            <div class="example-container">
            <mat-form-field >
              <input class="article-title" required matInput type="text" placeholder="Article title" formControlName="title" id="title">
              <mat-hint >Not more then 60 characters long.</mat-hint>
              <mat-error *ngIf="hasError('title', 'required')">Title is required</mat-error>
              <mat-error *ngIf="hasError('title', 'maxlength')">You have more than 60 characters</mat-error>
            </mat-form-field>
            <br/>
            <mat-form-field>
              <input  required matInput type="text" placeholder="Article description" formControlName="description">
              <mat-hint >Not more then 100 characters long.</mat-hint>
              <mat-error *ngIf="hasError('description', 'required')">Description is required</mat-error>
              <mat-error *ngIf="hasError('description', 'maxlength')">You have more than 100 characters</mat-error>
            </mat-form-field>
            <br/>
            <mat-form-field>
              <textarea required formControlName = "content" matInput placeholder="Article content"></textarea>
              <mat-error *ngIf="hasError('content', 'required')">Content is required</mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-select required placeholder="Select Category" formControlName="categoryId">
                <mat-option *ngFor="let categoryItem of categories"  [value]="categoryItem.Id">
                  {{categoryItem.Name}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="hasError('categoryId', 'required')">You must select category for you article</mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-select placeholder="Select Tag/s" formControlName="tagId">
                <mat-option *ngFor="let tagItem of tags"  [value]="tagItem.Id">
                  {{tagItem.Value}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <div>  
              <span class="display-5">Selected tags:</span>
              <span *ngFor="let atag of articleTags">
                {{atag.Value}},
              </span>
            </div>

          </div>
          </mat-card-content>

          <mat-card-actions>
              <button type = "button" (click)="addTag(articleForm)" mat-raised-button color="primary">Add tag</button>
              <button type="button" mat-raised-button color="warn" (click)="removeTag(articleForm)">Remove tag</button>
              <br/><br/><br/>
              <button type="button" (click)="createArticle(articleForm)" mat-raised-button color="primary" [disabled]="!articleForm.valid">Create</button>
              <button type="button" mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
          </mat-card-actions>
        </form>
  </mat-card>
