<h2>This is category constructor</h2>

<p *ngIf="!categories"><em>Loading...</em></p>
<div *ngIf="categories">
  <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="categories">
    <thead>
      <tr>
        <th>Id</th>
        <th>Description</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let element of categories">
        <td>{{element.Id}}</td>
        <td>{{element.Description}}</td>
        <td>{{element.Name}}</td>
      </tr>
    </tbody>
</table>
</div>


<div class="category-constructor-container">
  <form [formGroup]="form">
    <mat-form-field>
      <input required formControlName="val" width="50px" matInput placeholder="Category name">
    </mat-form-field>
    <br/>
    <br/>
    <mat-form-field>
        <input formControlName="descr" width="50px" matInput placeholder="Category description">
    </mat-form-field>
    <br/>
    <button class="btn btn-primary btn-add-category" type="submit" [(value)]="buttonText" (click)="addCategory()">Add category</button>
  </form>
  
</div>