<h2>This is category constructor</h2>

<mat-tab-group [(selectedIndex)] = "tabInd" dynamicHeight>
  <mat-tab label="Constructor">
    <mat-card>
      <mat-card-title class="display-4">{{cardTitle}}</mat-card-title>
      <form [formGroup]="categoryForm" autocomplete="off" novalidate  >
          <mat-card-content>
            <div class="example-container">
            <mat-form-field >
              <input class="category-value" required matInput type="text" placeholder="Category name" formControlName="name">
              <mat-hint >Not more then 60 characters long.</mat-hint>
              <mat-error *ngIf="hasError(1,'name', 'required')">Name is required</mat-error>
              <mat-error *ngIf="hasError(1,'name', 'maxlength')">You have more than 60 characters</mat-error>
            </mat-form-field>
            <br/>
            <mat-form-field >
              <input class="category-descr" required matInput type="text" placeholder="Category description" formControlName="descr">
            </mat-form-field>
            <br/>
            </div>
          </mat-card-content>
          <br/><br/>
          <mat-card-actions>
              <button type="button" (click)="performAction()" mat-raised-button color="primary" [disabled]="!categoryForm.valid">{{constructorMode}}</button>
              <button type="submit" mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
          </mat-card-actions>
        </form>
  </mat-card>
  </mat-tab>
  <mat-tab label = "Control">
    <mat-card>
      <mat-card-content>
        <form [formGroup] = "controlForm">
          <mat-form-field>
            <mat-select required placeholder="Select category" formControlName="categoryId">
              <mat-option *ngFor="let categoryItem of categories" [value]="categoryItem.Id">
                {{categoryItem?.Name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="hasError(2,'categoryId', 'required')">You must select category</mat-error>
          </mat-form-field>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <button type="button" (click)="selectEditCategory()" mat-raised-button color="primary" [disabled]="!controlForm.valid">Edit</button>
        <button type="button" mat-raised-button color="warn" [disabled]="!controlForm.valid" (click)="selectDeleteCategory()">Delete</button>
        <button type="button" mat-raised-button color="primary"(click)="selectAddCategory()">New</button>
    </mat-card-actions>
    </mat-card>


  </mat-tab>
</mat-tab-group>
